<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Learner.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>TechLink</title>
</head>
<body>
   
    <header>
        <div class="hed">
            <a href="{{url_for('home')}}"><h3>TechLink</h3></a>   
        </div>
    </header>
    <hr/>
    <div id="container">

        <div class="slideshow-container">
            <img class="slide" src="static/src/image1.jpg">
            <img class="slide" src="static/src/image2.jpg">
            <img class="slide" src="static/src/image3.jpg">
            <img class="slide" src="static/src/image4.jpg">
        </div>
        <br><hr/><br>
        <div id="flex-container"> 
            <div class="Learner">
                <p>Don't miss the opportunity to learn from the best in the tech industry. Whether you're looking to advance your career, start a new project, or simply satisfy your curiosity, our platform is your gateway to success.</p>
                <p>Ready to take the first step in your tech journey? Explore our list of talented tech tutors and start learning today!</p>
                 <button class="btn" onclick="showSelector()" type="button">Find Tutor</button>
                <br><br>
                <div id="selector">
                    <form action="{{url_for('tutors')}}" method="POST">
                        <label for="skill">Skill:</label><br>
                        <input type="text" id="skill" name="skill">
                        <br><hr/><br>
                        <label for="location">Location:</label><br>
                        <input type="text" id="location" name="location" >
                        <br><hr/><br>                       
                        <input type="submit" value="Tutors">
                    </form>
                    <br/>
                        
                </div>
            </div>  

            <div class="Tutor">
                <div class="Tcontainer">
                    <p>Becoming a tech tutor is not just about teaching; it's about mentoring, inspiring, and shaping the future of tech. Together, we can create a world where everyone has the opportunity to unlock their full potential.</p>
                    <p>Are you ready to make a difference? Join our community of tech tutors and start your teaching journey today!</p>
                    <button class ="btn" onclick="showTreg()" type="button">Register</button>
                    <br/> <br/>
                    <div id="Treg" >
                        <form  action="{{url_for('identity')}}" method="POST">
                            <label for="Fname">First Name:</label><br>
                            <input type="text" id="Fname" name="first_name" required>
                            <br><br>
                            <label for="Lname">Last Name:</label><br>
                            <input type="text" id="Lname" name="last_name" required>
                            <br><br>
                            <label for="email">Email:</label><br>
                            <input type="email" id="email" name="email" required>
                            <br><br>
                            <label for="phonenum">Phone Number:</label><br>
                            <input type="phonenum" id="phonenum" name="phone_number" required>
                            <br><br>
                            <label for="skill">Skill:</label><br>
                            <input type="Skill" id="Skill" name="skill" required>
                            <br><br>
                            <label for="Location">Location:</label><br>
                            <input type="Location" id="Location" name="location" required>
                            <br><br>
                            <input type="submit" value="Submit">
                        </form>
                        <br/>
                    </div>    
                </div>    
            </div>
                    
        </div>
    </div>
    <br><hr/><br>
    <footer>
        <h3>TechLink</h3>
    </footer>
    <script>
            //initializing 
            var slides = document.querySelectorAll('.slide');
            var currentSlide = 0;
            
            //slide effect
            function showSlide() {
            slides[currentSlide].style.display = "none";
            currentSlide = (currentSlide + 1) % (slides.length);
            slides[currentSlide].style.display = "block";
            }
        
            setInterval(showSlide, 2000); // Change slide every 2.0 seconds

            //change onclick for class selector
            function showSelector(){
                var view = document.getElementById('selector');
                if (view.style.display === "block"){
                    view.style.display = "none";
                }else{
                    view.style.display = "block";
                }
            }

            //change onclick for class Treg
            function showTreg(){
                var content = document.getElementById("Treg");
                if (content.style.display === "block"){
                    content.style.display = "none"
                }
                else{
                    content.style.display = "block";
                }
                
            };
    
    </script>   
</body>
</html>
