<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Learner.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>TechLink</title>
</head>
<body>
    <header>
        <div class="hed">
            <h3><a href="{{url_for('home')}}"> TechLink </a></h3>
            <!--- <h3>TechLink</h3>  --> 
        </div>
    </header>
    <div>
        <h1>Successfully added</h1>
    </div>
</body>
</html>
