<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Learner.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechLink</title>
</head>
<body>
    <header>
        <div class="hed">
            <h3><a href="{{url_for('home')}}"> TechLink </a></h3>
            <!--<h3>TechLink</h3>  --> 
        </div>
    </header>

    <div class="flex-con"> {% for id_list in id_lists %}
       <div id ="flexcon-item">   
                <h4>Name: {{id_list.first_name}} {{id_list.last_name}}</h4>
                <h4>Email: {{id_list.email}}</h4>
                <h4>Phonenum: {{id_list.phone_number}}</h4>
                <h4>Skill: {{id_list.skill}}</h4>
                <h4>Location: {{id_list.location}}</h4>    
        </div> 
        {% endfor %}  
    </div>
 
</body>
</html>
